// Font families

$style1: 'Anton', sans-serif;
$style2: 'Dancing Script', cursive;
$style3: 'Catamaran', sans-serif;
$style4: 'Exo 2', sans-serif;
$style5: 'Abel', sans-serif;

// colors

$primary: #1976D2;

$alea_primary: #003463;
